/***** General *****/
:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

/****** Header ******/
.header {
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #f0f0f0; /* Light grey background, consider an image */
    border-bottom: 2px solid #ccc; /* Bottom border */
}

/* Nav */
nav {
    background-color: black;
}
nav ul {
    list-style: none;
    display: flex;
}
nav .home-li {
    margin-right: auto; /* Space between links */
}
nav a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 1em 1em; /* Adjust padding as needed */
    transition: all 150ms ease;
}
nav a:hover {
    background-color: grey; /* Hover effect */
}


/* Text */
.header-text {
    text-align: center;
    margin: auto;
}
.subtitle {
    text-transform: uppercase;
    color: white;
    font-family: 'Arial', sans-serif; /* Choose subtitle font */
    padding: 60px 40px 5px; /* Adjust padding as needed */
    margin: auto;
}
.title {
    text-transform: uppercase;
    color: white;
    font-family: 'Arial Black', sans-serif; /* Choose header font */
    padding: 5px 40px 30px; /* Adjust padding as needed */
    font-size: 2.5rem; /* Adjust font size as needed */
    margin: auto;
}

/* Page Content */
main {
    flex: 1; /* Take up remaining space */
}
.page-content {
    display: none; /* Hide all sections by default */
}
.page-content.active {
    display: block; /* Show the active section */
    padding: 20px; /* Adjust padding as needed */
}

/* Footer */
.footer {
    text-align: center;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif; /* Choose footer font */
    font-size: 0.75rem; /* Adjust font size as needed */
    border-top: 2px solid #ccc; /* Top border */
}